<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сказки Андерсона про linux</title>
</head>
<body>
    Расскажу тебе сказку про линунк и {{ owner }}
    Страна {{ ansible_os_family }}
    
    
<img src="time.png">
</body>
</html>